:root {
    --bg_primary: #183A4A;
    --bg_secondary: #3D88AE;
    --bg_success: #61D2A4;
    --bg_danger: #DE5471;
    --bg_warning: #F9D277;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.mycard {
    aspect-ratio: 1;
    
}

.bg_primary {
    background-color: var(--bg_primary);
}

.bg_secondary {
    background-color: var(--bg_secondary);
}

.bg_success {
    background-color: var(--bg_success);
}

.bg_danger {
    background-color: var(--bg_danger);
}

.bg_warning {
    background-color: var(--bg_warning);
}